<!--<div class="footer">-->
<!--    <div style="background-color: gray"></div>-->
<!--    <p>This is your footer</p>-->
<!--</div>-->
<!-- Footer -->
<footer class="page-footer font-small teal pt-4">

    <!-- Footer Text -->
    <div class="container-fluid text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-6 mt-md-0 mt-3">

                <!-- Content -->
                <h5 class="text-uppercase font-weight-bold">If you want to sign in</h5>
                <p>you can try the default accounts:<br/>- Administrator (login="admin" and password="admin")
                    <br/>- User (login="user" and password="user").</p>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none pb-3">

            <!-- Grid column -->
            <div class="col-md-6 mb-md-0 mb-3">

                <!-- Content -->
                <h5 class="text-uppercase font-weight-bold">Register for a new account</h5>
                <p>you can try to click the top-right account button and register a new account.
                    <br/>- Create a new account and start to register for new courses!</p>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Text -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a> GodfreyLin</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->
